@import "../../../css/index.css";

.root {
  @mixin typography;

  position: relative;
  display: inline-block;
  border: none;
  border-radius: var(--btn-border-radius);
  outline: none;
  text-decoration: none;
  text-align: center;
  background-color: var(--btn-primary-bg);
  box-shadow: var(--normal-shadow);
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    background-color: var(--btn-primary-hover);
  }

  &:active {
    background-color: var(--btn-primary-active);
  }
}
