@import "../../../css/index.css";

.root {
  position: relative;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: var(--primaryColor);
  }

  &:active {
    background-color: green;
  }

  &:focus:not(:active) {
    background-color: blue;
  }
}
